<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Quotes Home</title>
</head>
<body>
	<div class="container">
		<h1>Welcome to Quoting Dojo</h1>
		<form action="/quotes" method="post">
			<p>Your Name: <input type="text" name="name" id="name"></p>
			<p>Your quote: <textarea name="text" id="text" cols="20" rows="4"></textarea></p>
			<button type="submit">Add my quote!</button>
		</form>
		<a href="/quotes"><button>Skip to quotes!</button></a>
	</div>
</body>
</html>