<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Quotes</title>
</head>
<body>
	<div class="container">
		<h1>All Quotes</h1>
		<% for ( quote of quote_list ) { %>
			<div class="quote-full">
				<p class="text"><%= quote.content %></p>
				<p class="attribution">-<%= quote.user %> at <%= quote.date_added %></p>
			</div>
		<% } %>
	</div>
</body>
</html>