<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login & Registration</title>
</head>
<body>
	<div class="container">
		<h1 class="title">WELCOME</h1>
		<div class="reg-form">
			<h2 class="reg-form-title">Register</h2>
			<form action="/process/adduser" method="post">
				<p class="form-line">First Name: <input type="text" name="first_name" id="fname"></p>
				<p class="form-line">Last Name: <input type="text" name="last_name" id="lname"></p>
				<p class="form-line">Email: <input type="text" name="email" id="reg-email"></p>
				<p class="form-line">Password: <input type="password" name="pw" id="reg-pw"></p>
				<p class="form-line">Confirm Password <input type="password" name="pw-conf" id="pw-conf"></p>
				<p class="form-line">Birthday: <input type="date" name="birthday" id="bday"></p>
				<button type="submit">Register</button>
			</form>
		</div>
		<div class="log-form">
			<h2 class="log-form-title">Login</h2>
			<form action="/process/login" method="post">
				<p class="form-line">Email: <input type="text" name="email" id="log-email"></p>
				<p class="form-line">Password: <input type="password" name="pw" id="log-pw"></p>
				<button type="submit">Log In</button>
			</form>
		</div>
	</div>
</body>
</html>